compile_commands.json
.vscode
.cache
bin
obj
*.jpeg
*.jpg
*.png
images
dataset*
infer_test
chest_xray
.ipynb_checkpoints
build
*.jks

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

/scripts/build/
/app/build/

*.o
*.so
*.a
*.dll

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
*.log
*.tmp

build/classes.dex
build/classes.jar
build/*.apk

*.class
*.jar
*.war
*.ear

.idea/
*.iml
*.ipr
*.iws

.gradle/
local.properties

__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*~
*.tmp
*.bak
*.backup

